<?xml version="1.0"?>
<model>
  <name>turtlebot3_autorace_2025</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Hyungyu Kim</name>
    <email>kimhs@robotis.com</email>
  </author>
  <description>
    turtlebot3_autorace_2025 statdium.
  </description>
</model>
