<launch>

  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>
  <arg name="open_rviz" default="true"/>
  
  <include file="$(find turtlebot3_gazebo)/launch/empty_world.launch"/>

  <!-- Launch three robots in the house -->
  <include file="$(find turtlebot3_gazebo)/launch/multi_turtlebot3_single.launch">
    <arg name="ns" value="tb3_0"/>
    <arg name="tb3_x_pos" value="5.0"/>
    <arg name="tb3_y_pos" value="6.0"/>
    <arg name="tb3_z_pos" value="0.0"/>
    <arg name="tb3_yaw" value="1.57"/>
  </include>  
  
  <include file="$(find turtlebot3_gazebo)/launch/multi_turtlebot3_single.launch">
    <arg name="ns" value="tb3_1"/>
    <arg name="tb3_x_pos" value="4.0"/>
    <arg name="tb3_y_pos" value="-6.0"/>
    <arg name="tb3_z_pos" value="0.0"/>
    <arg name="tb3_yaw" value="1.57"/>
  </include>  
  
  <include file="$(find turtlebot3_gazebo)/launch/multi_turtlebot3_single.launch">
    <arg name="ns" value="tb3_2"/>
    <arg name="tb3_x_pos" value="-4.0"/>
    <arg name="tb3_y_pos" value="6.0"/>
    <arg name="tb3_z_pos" value="0.0"/>
    <arg name="tb3_yaw" value="-1.57"/>
  </include>  
  
  <include file="$(find turtlebot3_gazebo)/launch/multi_turtlebot3_single.launch">
    <arg name="ns" value="tb3_3"/>
    <arg name="tb3_x_pos" value="-4.0"/>
    <arg name="tb3_y_pos" value="-6.0"/>
    <arg name="tb3_z_pos" value="0.0"/>
    <arg name="tb3_yaw" value="-1.57"/>
  </include>
  
  <!-- Launch multi map merge -->
  <!-- <include file="$(find turtlebot3_gazebo)/launch/multi_map_merge.launch"/> -->

  <!-- Start rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find turtlebot3_slam)/rviz/turtlebot3_$(arg slam_methods).rviz"/>
  </group>


</launch>