<?xml version="1.0"?>
<!-- TurtleBot3 Manipulation -->
<robot name="turtlebot3_manipulation" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_sim" default="false" />

  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="fake_sensor_commands" default="false" />

  <!-- Import materials macro -->
  <xacro:include filename="$(find turtlebot3_manipulation_gazebo)/gazebo/materials.xacro" />

  <!-- Include TurtleBot3 Waffle Pi urdf macro -->
  <xacro:include filename="$(find turtlebot3_manipulation_gazebo)/urdf/turtlebot3_waffle_pi.urdf.xacro" />

  <!-- Include TurtleBot3 Waffle Pi gazebo macro -->
  <xacro:include filename="$(find turtlebot3_manipulation_gazebo)/gazebo/turtlebot3_waffle_pi.gazebo.xacro" />

  <!-- Include OpenManipulator-X urdf macro -->
  <xacro:include filename="$(find turtlebot3_manipulation_gazebo)/urdf/open_manipulator_x.urdf.xacro" />

  <!-- Include OpenManipulator-X gazebo macro -->
  <xacro:include filename="$(find turtlebot3_manipulation_gazebo)/gazebo/open_manipulator_x.gazebo.xacro" />

  <!-- Include TurtleBot3 Manipulation ros2 control macro -->
  <xacro:include filename="$(find turtlebot3_manipulation_gazebo)/ros2_control/turtlebot3_manipulation_system.ros2_control.xacro" />

  <xacro:turtlebot3_waffle_pi prefix="$(arg prefix)" />
  <xacro:turtlebot3_waffle_pi_gazebo prefix="$(arg prefix)" />

  <!-- Used for fixing OpenManipulator-X on TurtleBot3 Waffle Pi -->
  <joint name="$(arg prefix)base_fixed" type="fixed">
    <parent link="$(arg prefix)base_link"/>
    <child link="$(arg prefix)link1"/>
    <origin xyz="-0.092 0.0 0.091" rpy="0 0 0"/>
  </joint>

  <xacro:open_manipulator_x prefix="$(arg prefix)" />
  <xacro:open_manipulator_x_gazebo prefix="$(arg prefix)" />

  <xacro:turtlebot3_manipulation_system
    name="TurtleBot3ManipulationSystem" prefix="$(arg prefix)" use_sim="$(arg use_sim)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"/>

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find turtlebot3_manipulation_gazebo)/config/gazebo_controller_manager.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
