<?xml version="1.0" ?>
<model>
    <name>obstacle2</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Ryan Shim</name>
        <email>jhshim@robotis.com</email>
    </author>

    <description>
        TurtleBot3 DQN World
    </description>
</model>
