<?xml version="1.0"?>

<model>
  <name>traffic_bar_down</name>
  <version>1.0</version>
  <sdf version='1.6'>traffic_bar_down.sdf</sdf>

  <author>
    <name>Hyunok Lee</name>
    <email>hyunokhyunok@naver.com</email>
  </author>

  <description>
    Model with links of simple shapes and texture applied.
  </description>
</model>
