<?xml version="1.0"?>
<!--
Copied and modified from ros2 control demos example:
https://github.com/ros-controls/ros2_control_demos/blob/foxy/ros2_control_demo_description/diffbot_description/ros2_control/diffbot_system.ros2_control.xacro
https://github.com/ros-controls/ros2_control_demos/blob/foxy/ros2_control_demo_description/rrbot_description/ros2_control/rrbot_system_position_only.ros2_control.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="turtlebot3_manipulation_system" params="name prefix use_sim:=^|false use_fake_hardware:=^|false fake_sensor_commands:=^|false">

    <ros2_control name="${name}" type="system">

      <xacro:if value="$(arg use_sim)">
        <hardware>
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
      </xacro:if>
      <xacro:unless value="$(arg use_sim)">
        <hardware>
          <xacro:if value="${use_fake_hardware}">
            <plugin>fake_components/GenericSystem</plugin>
            <param name="fake_sensor_commands">${fake_sensor_commands}</param>
            <param name="state_following_offset">0.0</param>
          </xacro:if>
        </hardware>
      </xacro:unless>

      <joint name="${prefix}wheel_left_joint">
        <command_interface name="velocity">
          <param name="min">-24.5</param>
          <param name="max">24.5</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${prefix}wheel_right_joint">
        <command_interface name="velocity">
          <param name="min">-24.5</param>
          <param name="max">24.5</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <sensor name="imu">
        <state_interface name="orientation.x">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="orientation.y">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="orientation.z">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="orientation.w">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="angular_velocity.x">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="angular_velocity.y">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="angular_velocity.z">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="linear_acceleration.x">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="linear_acceleration.y">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="linear_acceleration.z">
          <param name="initial_value">0.0</param>
        </state_interface>
      </sensor>

      <sensor name="battery">
        <state_interface name="voltage">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="percentage">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="design_capacity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="present">
          <param name="initial_value">0.0</param>
        </state_interface>
      </sensor>

      <joint name="${prefix}joint1">
        <command_interface name="position">
          <param name="min">${-pi*0.9}</param>
          <param name="max">${pi*0.9}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${prefix}joint2">
        <command_interface name="position">
          <param name="min">${-pi*0.57}</param>
          <param name="max">${pi*0.5}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${prefix}joint3">
        <command_interface name="position">
          <param name="min">${-pi*0.3}</param>
          <param name="max">${pi*0.44}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${prefix}joint4">
        <command_interface name="position">
          <param name="min">${-pi*0.57}</param>
          <param name="max">${pi*0.65}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${prefix}gripper_left_joint">
        <command_interface name="position">
          <param name="min">-0.010</param>
          <param name="max">0.019</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${prefix}gripper_right_joint">
        <param name="mimic">gripper_left_joint</param>
        <param name="multiplier">1</param>
        <command_interface name="position">
          <param name="min">-0.010</param>
          <param name="max">0.019</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
