<?xml version="1.0"?>
<model>
  <name>column_obstacles</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Hyungyu Kim</name>
    <email>kimhs@robotis.com</email>
  </author>
  <description>
    column_obstacles of turtlebot3 for turtlebot3_autorace_2025.
  </description>
</model>
