<?xml version="1.0"?>

<model>
  <name>TurtleBot3(Burger_cam)</name>
  <version>2.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Taehun Lim(Darby)</name>
    <name>Hyungyu Kim</name>
    <email>thlim@robotis.com</email>
    <email>kimhg@robotis.com</email>
  </author>

  <description>
    TurtleBot3 Burger
  </description>
</model>
