<?xml version="1.0"?>
<model>
  <name>charge_station</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Hyungyu Kim</name>
    <email>kimhs@robotis.com</email>
  </author>
  <description>
    charge station of turtlebot3 for turtlebot3_autorace_2025.
  </description>
</model>
